
.h1 =@recipe.title
/ Need Chef's info here
/ .h2 ="by #{@recipe.}"
img src=@recipe.photo.url
div =@recipe.description # clearly `__text__` is supposed to have meaning
div Tags
-@recipe.tags.each do |tag|
  =tag.name